.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* specific css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
}

* p {
  margin: 0px !important;
}

#main-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: rgb(203, 214, 233);
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Roboto Mono', monospace !important;
  font-size: 13px;
}

#intro {
  width: 100%;
  height: 15vh; 
  text-align: center;
  color: rgb(89, 73, 158);
  padding-top: 30px;
}

#panels {
  width: 100%;
  height: 85vh; 
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
  padding-top: 30px;
  justify-content: space-evenly;
  font-family: 'Roboto Mono', monospace !important;
  font-size: 13px;
}

button:focus {
  outline: none !important;
}

.btn {
  width: 100px;
  height: 25px; 
  border-radius: .2em;
  border: none;
  color: white;
  background-color: #2f179c;
}

.panel-menubar {
  width: 100%;
  height: 40px;
  border-bottom: solid rgb(211, 207, 233) 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
}

.panel-menubar p{
  padding: 0px 0px 0px 20px !important; margin: 0px !important;
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  color: rgb(47, 23, 156);
}
