#photoview-container {
    height: 100%;
    padding-bottom: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-auto-rows: 85%;
}

.jumbo-wrapper {
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

#filename {
    word-wrap: break-word !important;
    text-align: right;
    padding-bottom: 5px;
}

.img-jumbo {
    width: 90%;
    height: auto;
    max-height: 75%;
}

.sub-wrapper {
    height: 25%;
    margin-top: auto;
    display: flex;
    padding-bottom: 5px;
}

.sub {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
    #photoview-container {
        grid-auto-rows: 70%;
    }
    .sub-wrapper {
        height: 30%;
        margin-top: auto;
    }
}

@media only screen and (max-width: 950px) {
    #photoview-container {
        grid-auto-rows: 60%;
    }
    .sub-wrapper {
        height: 20%;
        margin-top: auto;
    }
}

@media only screen and (max-width: 768px) {
    #photoview-container {
        grid-auto-rows: 100%;
    }
}

@media only screen and (max-width: 481px) {
    .jumbo-wrapper {
        width: 50%;
        max-width: 50%;
        height: 100% !important;
    }
}

@media only screen and (max-width: 320px) {
.jumbo-wrapper {
    width: 90%;
    max-width: 90%;
}
}
