#photoview-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.jumbo-wrapper {
    width: 33%;
    max-width: 33%;
    padding: 20px;
    white-space: pre-wrap;
}

.img-jumbo {
    width: 100%;
    max-width: 100%;
}