#photoview-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: wrap;
}

.jumbo-wrapper {
    width: 30%;
    max-width: 30%;
    padding: 10px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

.jumbo-wrapper div {
    max-width: 100%;
    word-wrap: break-word !important;
}

.img-jumbo {
    width: 80%;
    max-width: 80%;
}

.emphasis {
    text-decoration: underline;
}