#output-panel-container {
    width: 88%;
    max-width: 88%;
    height: 80%;
    background-color: white;
    border-radius: 7px;
    padding: 15px;
}

#view-menubar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#output-menubar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.output-view {
    margin: 10px;
}

.codebox {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
}

pre {
    word-wrap: break-word;
}

.btn-view, .btn-jsonview {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 12px;
    width: 70px;  
}

.btn-view {
    background-color: none;
    border: none;
}

.btn-jsonview {
    background-color: none;
    border: none;
}