#input-panel-container {
    width: 350px;
    max-width: 350px;
    height: 350px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 15px;
}

#input-menubar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

select {
    font-family: 'Roboto Mono', monospace !important;  
}


#form, #input {
    font-family: 'Roboto Mono', monospace !important;
    width: 350px;
    max-width: 350px;
    height: 350px;
}
  
#upload-btn {
    /* 15px is for padding */
    margin-top: calc(15px + 20px); 
    font-family: 'Roboto Mono', monospace !important;
}

input[type=file]::-webkit-file-upload-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
    font-family: 'Roboto Mono', monospace !important;
}

input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
    font-family: 'Roboto Mono', monospace !important;
}

input[type=file]::-webkit-file-upload-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    font-family: 'Roboto Mono', monospace !important;
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    font-family: 'Roboto Mono', monospace !important;
}