#input-panel-container {
    width: 88%;
    max-width: 88%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7px;
}

select {
    font-family: 'Roboto Mono', monospace !important;  
}

#form {
    background-color: white;
    border-radius: 7px;
    width: 350px;
    max-width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace !important;
    padding: 15px;
}

#input {
    font-family: 'Roboto Mono', monospace !important;
}

  
#upload-btn {
    /* 15px is for padding */
    /* margin-top: calc(10px + 5px);  */
    font-family: 'Roboto Mono', monospace !important;
}

input[type=file]::-webkit-file-upload-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
    font-family: 'Roboto Mono', monospace !important;
}

input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
    font-family: 'Roboto Mono', monospace !important;
}

input[type=file]::-webkit-file-upload-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    font-family: 'Roboto Mono', monospace !important;
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    font-family: 'Roboto Mono', monospace !important;
}