/* .copy-btn-wrapper {
    align-items: flex-end;
} */

#copy-btn {
    font-family: 'Roboto Mono', monospace !important;
    width: 90px !important;
    color: black !important;
    margin-top: 5px;
    
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
    font-family: 'Roboto Mono', monospace !important;
    float: right;
    text-align: center;
    align-self: flex-end;
    margin-top: auto;
    font-size: 11px !important;
}

#copy-btn:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    font-family: 'Roboto Mono', monospace !important;
}